
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
body {
    /* background-color: #f7f5f2; */
    background-color: #1C1427;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #EEEEEE;
}
hr{
    border-color: #EAC100;
    border-style: none;
    border-top-style:dotted ;
    width: 5%;
    border-width: 5px;
}
img{
    height: 7.5rem;
}
h1{
    color: #CCFFBD;
    font-family: 'Sofia', cursive;
    font-weight:400;
    font-size: 60px;
}
h2{
    color: #7ECA9C;
    font-weight: 600;
}
h3{
    color:#CCFFBD;
    font-weight: 600;
}
.hero{
    padding: 120;
    position: relative;
    left: auto;
    right: auto;
}
.bottom-star{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 350px;
    bottom:250px;
}
.top-star{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 400px;
    top: 120px;
}
.ant-path{
    position: relative;
    left: auto;
    right: auto;
    top: 100px;
}
.subheader{
    width: 40%;
    position: relative;
    left: 350px;
}
.skill-row{
    width: 50%;
    margin: auto;
    display: inline-block;
    width: 20%;
}
.skills{
    padding: 120;
}
.social-icon{
    width: 40px;
    height: 40px;
    padding: 20px;
}
.bottom-container{
    background-color: #40394A;
    padding: auto;
}
